.card__delete-button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 5.5%;
  left: 86.5%;
}

.card__delete-button:hover {
  opacity: 60%;
  cursor: pointer;
}

