.popup__container-form-submit-button {
  width: 358px;
  height: 50px;
  background-color: black;
  padding: 3px;
  border-radius: 2px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-left: 36px;
  margin-bottom: 37px;
  margin-top: 18px;
  border-width: 0px;
}

.popup__container-form-submit-button:hover {
  cursor: url(./../../../images/Cursor_1.svg), pointer;
}

@media screen and (max-width: 580px) and (min-width: 320px) {
  .popup__container-form-submit-button {
    width: 238px;
    height: 46px;
    margin-left: 0;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
  }
}