.popup__info-container {
    display: flex;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 50vw;
    height: 52vh;
    flex-direction: column;
    margin-right: 10px;
    padding: 15px;
    align-items: center;
    justify-content: center;
}