.entry-user__container-form-title {
  margin-bottom: 77px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  line-height: 29px;
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;

}