.card__like-button_active {
  background-color: transparent;
  background-image: url(./../../../../images/Like_black.svg);
  background-repeat: no-repeat;
  object-fit: cover;
}

.card__like-button_active:hover {
  opacity: 0.5;
  cursor: pointer;
}

